<!DOCTYPE html>
<html>
	<head>
		<title>BULLETPROOF BONGS</title>
		<link rel="stylesheet" type="text/css" href="styles/home.css">
		<link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Concert+One|Ultra" rel="stylesheet">
	</head>

	<body>

		<div id="mySidenav" class="sidenav">
			<div class="sidenav1">
				<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
				<a href="/home">Home</a>
				<a href="/shop">Shop</a>
				<a href="/learn">Learn More</a>
				<a href="#">Contact</a>
			</div>
			  
		</div>

		<div id="main" class="container">
			<div class="topnav">
				<a id="contain" onclick="myFunction()">
					<div class="bar1"></div>
					<div class="bar2"></div>
					<div class="bar3"></div>
				</a>
				<a class="header">BULLETPROOF BONGS</a>
			</div>
		</div>

		<script>
			var menuOpen = false;
			function openNav() {
			    document.getElementById("mySidenav").style.width = "250px";
			    document.getElementById("main").style.marginLeft = "250px";
			    document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
				menuOpen = true;
			}

			function closeNav() {
			    document.getElementById("mySidenav").style.width = "0";
			    document.getElementById("main").style.marginLeft= "0";
			    document.body.style.backgroundColor = "white";
			    contain.classList.toggle("change");
			    menuOpen = false;
			}
			function myFunction() {
				if(!menuOpen){
					openNav();
					contain.classList.toggle("change");
				}
			}
		</script>
	</body>
</html>	
	